<mat-card>
  <mat-card-content>
    <div class="profile-container">
      <img
        src="{{ user.image }}"
        class="profile-picture" />
      <p class="profile-name">{{ user.fullName }}</p>
    </div>
    <p class="date-text">
      {{ post.date | datePipe }}
    </p>
    <p class="paragraph" *ngIf="post.body">{{ post.body }}</p>
    <img
      *ngIf="post.attachment"
      src="{{ post.attachment }}"
      class="attachment" />
    <div class="likes-container">
      <!--<button mat-raised-button class="like-button">
        <mat-icon class="material-icons-outlined">
          thumb_up
        </mat-icon>
        {{ reactions | likePipe }}
      </button>
      <button mat-raised-button class="like-button dislike">
        <mat-icon class="material-icons-outlined">
          thumb_down
        </mat-icon>
        {{ reactions | dislikePipe }}
      </button>-->
      <button *ngIf="isUserPost" (click)="deletePost()" mat-stroked-button color="accent" class="comment-button">
        <mat-icon class="material-icons-outlined">
          delete
        </mat-icon>
        Törlés
      </button>
    </div>
  </mat-card-content>
</mat-card>
