<div class="card-container">
  <div appLogoAnimation></div>
  <mat-card class="login-card">
    <img ngSrc="/assets/images/logo_text.svg" class="logo-text" height="32" width="192"  alt="logo"/>
    <h2>Regisztráció</h2>
    <form [formGroup]="profileForm" (ngSubmit)="register()">
      <mat-form-field required appearance="outline" class="form-field">
        <mat-label>E-mail</mat-label>
        <input matInput type="text" placeholder="E-mail" formControlName="email">
      </mat-form-field>

      <mat-form-field required appearance="outline" class="form-field">
        <mat-label>Teljes név</mat-label>
        <input matInput type="text" placeholder="Teljes név" formControlName="name">
      </mat-form-field>

      <mat-form-field required appearance="outline" class="form-field">
        <mat-label>Jelszó</mat-label>
        <input matInput type="password" placeholder="Jelszó" formControlName="password">
      </mat-form-field>

      <button [disabled]="!profileForm.valid" mat-raised-button color="primary" class="login-button" type="submit">Regisztráció</button>
    </form>
    <div class="divider-container">
      <mat-divider></mat-divider>
      <span class="divider-text">vagy</span>
      <mat-divider></mat-divider>
    </div>
    <a routerLink="/login">
      <button mat-stroked-button color="accent" class="register-button">Bejelentkezés</button>
    </a>
  </mat-card>
</div>
