<nav mat-tab-nav-bar class="bottom-tabs" mat-align-tabs="center" [tabPanel]="tabPanel" [ngStyle]="{ 'display': show ? 'flex' : 'none' }">
  <div class="leftbar">
    <a href="/">
      <div class="logo-text"></div>
    </a>
  </div>
  <div class="navbar">
    <a mat-tab-link href="/home">
      <mat-icon>home</mat-icon>
      <span>Kezdőlap</span>
    </a>
    <a mat-tab-link href="/friendrequests">
      <mat-icon>group</mat-icon>
      <span>Ismerősök</span>
    </a>
    <a mat-tab-link href="/profile">
      <mat-icon>person</mat-icon>
      <span>Profil</span>
    </a>
  </div>
  <div class="rightbar">
  </div>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</nav>
