nav {
  position: sticky;
  top: 16px;
  z-index: 100;
  height: 56px;
  margin: 16px;
  background-color: #3F51B5;
  border-radius: 16px;
  color: white;
}

span {
  color: white;
}

.mat-icon {
  fill: white;
  color: white;
}

.mat-mdc-tab-link-container {
  border: none !important;
  box-shadow: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 56px;
  align-items: center;
}

span {
  margin-left: 16px;
}

.leftbar, .rightbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 0 16px;
}

.rightbar {
  justify-content: flex-end;
}

.logo-text {
  background-image: url("/assets/images/logo_text.svg");
  background-size: 192px;
  height: 32px;
  width: 192px;
}

@media screen and (max-width: 768px) {
  nav {
    margin: 0;
    top: 0;
    border-radius: 0;
  }

  span {
    display: none;
  }

  .logo-text {
    background-image: url("/assets/images/logo.svg");
    background-size: 32px 32px;
    width: 32px;
  }
}
